.frontpage {
    // background: black;
    margin: 0;
    padding: 0;
}

.frontpage__media {
    // display: flex;
}

// .paral {
//     object-fit: contain;
// }

.frontpage__text {
    height: 100vh;
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}

.name_text {
    align-items: center;
    height: 15.3em;
    display: flex;
    justify-content: center;
}

.name_text > h1 {
    color: white;
}

.name_text > h2 {
    color: white;
    padding-right: 20px;
}


// .name_text > h1 > span:nth-child(1) {
//     color: white;
//     // background-color: #242424;
//     -webkit-text-stroke: 1px #242424;
//     animation: words 11s ;
// }

// @keyframes words {
//     10% { color: white;
//     }
//     80% {
//         color: white;
//     }
// }

// .name_text > h1 > span:nth-child(2) {
//     color: white;
//     -webkit-text-stroke: 1px #242424;
//     animation: words 8s ;
// }

// @keyframes words {
//     0% { color: #242424;
//     }
//     100% {
//         color: #242424;
//     }
// }

// .name_text > h1 > span:nth-child(3) {
//     color: black;
//     -webkit-text-stroke: 1px black;
//     animation: words 17s ;
// }

// @keyframes words {
//     0% { color: white;
//     }
//     100% {
//         color: black;
//     }
// }

// .name_text > h1 > span:nth-child(4) {
//     color: black;
//     -webkit-text-stroke: 1px black;
//     animation: words 4s ;
// }

// @keyframes words {
//     0% { color: white;
//     }
//     100% {
//         color: black;
//     }
// }

// .name_text > h1 > span:nth-child(5) {
//     color: black;
//     -webkit-text-stroke: 1px black;
//     animation: words 7s ;
// }

// @keyframes words {
//     0% { color: white;
//     }
//     100% {
//         color: black;
//     }
// }

// .frontpage__text > span {
//     animation: text 4s 1;
// }
// @keyframes text {
//     0% { color: black;
//     }
//     40% {
//         letter-spacing: 2px;
//     }
// }


.animate__line{
    // color: #6b6b6b;
    color: darkgray;
    text-align: center;
    line-height: 1.5em;
    padding-right: 250px;
    padding-left: 250px;
    position: absolute;
    top: 60%
}

.animate__line > span {
    text-align: center;
}
// .animate__line span:before {
//     font-size: 35px;
//     content: '';
//     color: grey;
//     animation: animation 5s linear infinite;
// }
// @keyframes animation{
//     0%,100% {content: "AI";}
//     60% {content: "React-Apps";}
//     40% {content: "WEB";}
// }