.who {
    margin: 0;
    padding: 0;
    height: 470px;
    background-color: #141414;
}

.who__media {
    display: flex;
    flex-direction: row-reverse;
}

.who__media > h5 {
    font-family: sans-serif;
    text-align: justify;
    font-size: 31px;
    font-weight: 100;
    color: white;
    margin-left: 400px;
    margin-right: 100px;
    // animation: text 3s 1;   
}
// @keyframes text {
//     0% { color: white;
//         margin-bottom: -40px;
//     }
//     40% {
//         letter-spacing: 2px;
//         margin-bottom: -10px;
//     }
// }

.who__media > h2 {
    font-family: sans-serif;
    color: white;
    margin-left: 100px;
}

.who__media > h5  strong {
    font-weight: 800;
}